<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="TargetRuntimeDefinition" sequenceNumber="223">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/photon"/>
		<unit id="org.eclipse.emf.edit.feature.group" version="2.13.0.v20180421-1151"/>
		<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.14.0.v20180213-0527"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.14.0.v20180529-1157"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
		<unit id="org.eclipse.rcp.source.feature.group" version="4.8.0.v20180611-0656"/>
		<unit id="org.eclipse.sdk.ide" version="4.8.0.I20180611-0500"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.8"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.nebula.examples.release.feature.feature.group" version="1.1.0.201804281520"/>
		<unit id="org.eclipse.nebula.feature.feature.group" version="1.4.0.201804281520"/>
		<repository location="http://download.eclipse.org/nebula/releases/latest"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/photon"/>
		<unit id="org.eclipse.emf.ecp.sdk.e4.feature.feature.group" version="1.17.0.20180611-0706"/>
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.0.v20180515-1348"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.feature.basis.feature.group" version="1.0.0.201808142035"/>
		<repository location="file:/G:/UpdateSites/Basis/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.feature.archiv.feature.group" version="1.0.0.201808142031"/>
		<repository location="file:/G:/UpdateSites/Archiv/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.feature.design.feature.group" version="1.0.0.201808142032"/>
		<repository location="file:/G:/UpdateSites/Design/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.feature.libreoffice.feature.group" version="1.0.0.201808142033"/>
		<repository location="file:/G:/UpdateSites/Libreoffice/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.login.feature.feature.group" version="1.0.0.201808142034"/>
		<repository location="file:/G:/UpdateSites/Login/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.features.office.feature.group" version="1.0.0.201808142037"/>
		<repository location="file:/G:/UpdateSites/Office/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="it.naturtalent.features.telekom.feature.group" version="1.0.0.201808142039"/>
		<repository location="file:/G:/UpdateSites/Telekom/repository/"/>
	</location>
</locations>
</target>